<section class="logo-carousel">
    <div class="slick-full--width">
        <div class="title-wrapper">
            <h2>FEATURED IN  </h2>
        </div>
        <div class="slick-wrapper">
            <div class="slick-js">
                <div class="image-content--box">
                    <img src="https://cdn.shopify.com/s/files/1/0598/1231/5223/files/relume-logo.png?v=1723369454">
                </div>
                <div class="image-content--box">
                    <img src="https://cdn.shopify.com/s/files/1/0598/1231/5223/files/webflow-logo.png?v=1723369454">
                </div>
                <div class="image-content--box">
                    <img src="https://cdn.shopify.com/s/files/1/0598/1231/5223/files/webflow-logo.png?v=1723369454">
                </div>
                <div class="image-content--box">
                    <img src="https://cdn.shopify.com/s/files/1/0598/1231/5223/files/relume-logo.png?v=1723369454">
                </div>
                <div class="image-content--box">
                    <img src="https://cdn.shopify.com/s/files/1/0598/1231/5223/files/webflow-logo.png?v=1723369454">
                </div>
                <div class="image-content--box">
                    <img src="https://cdn.shopify.com/s/files/1/0598/1231/5223/files/webflow-logo.png?v=1723369454">
                </div>
                <div class="image-content--box">
                    <img src="https://cdn.shopify.com/s/files/1/0598/1231/5223/files/webflow-logo.png?v=1723369454">
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
      "name": "Logo Carousel",
      "settings": [
      ],
      "blocks": [
    ],
      "presets": [
      {
        "name": "Logo Carousel",
        "blocks": []
      }
    ]
    }
  {% endschema %}